@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,
  100% {
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
  }
  60%,
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  /*画面全体*/
  width: 100%;
  height: 100%;
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: row;
  position: relative;
}

.icon_menu {
  /*アイコン一覧*/
  min-width: 100px;
  height: 100%;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border-right: solid 1px;
  border-color: rgba(128, 128, 128, 0.8);
  z-index: 10;
  /* box-shadow: 1px 0px 10px; */
}

.icon_menu div:hover {
  cursor: pointer;
  color: rgba(0, 255, 34);
  transform: perspective(100px) translateZ(30px);
  transition: 0.15s;
}

.icon{
  margin-top: 50px;
}

.icon.now {
  color: rgba(0, 255, 34);
  transform: perspective(100px) translateZ(30px);
}

.menu {
  width: 170px;
  height: 100%;
  position: relative;
}

.menuItems {
  /*戻す時はアニメーション不可*/
  display: none;
  width: 100%;
  height: 100%;
}

.menuItems.active {
  /*優先*/
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: relative;
  left: auto;
  animation-name: slideIn; /*スライドイン*/
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  /* box-shadow: 1px 0px 10px; */
}

.Items {
  font-size: 15px;
  text-align: left;
  padding: 20px 10px 20px 10px;
}

.Items li:hover {
  cursor: pointer;
}

.page_menu {
  position: absolute;
  left: 100px;
}

.page {
  display: none;
  opacity: 0;
}

.page.show {
  display: flex;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.talk_list { /*トーク画面*/
  width: 750px;
  height: 100vh;
  flex-direction: column;
  position: relative;
  background-color: rgb(220, 220, 220);
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
}

.scroll::-webkit-scrollbar{
  width: 15px;
}

.scroll::-webkit-scrollbar-track{
  background-color: rgb(200, 200, 200);
  border-radius: 100px;
}

.scroll::-webkit-scrollbar-thumb{
  background-color: rgba(0,155,255,0.5);
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 100px;
}

/* 自分以外(フレンド)の吹き出し */
.left_bubble {
  position: relative;
  background: #fff;
  border: 1px solid #777;
  margin-right: 20%;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  clear: both;
  max-width: 500px;
  float: left;
  word-break: break-all;
  text-align: left;
  white-space: pre-wrap;
}

.left_bubble:before,
.left_bubble:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.left_bubble:after {
  border-right-color: #fff;
  border-width: 7px;
  margin-top: -7px;
}

.left_bubble:before {
  border-right-color: #777;
  border-width: 8px;
  margin-top: -8px;
}

/* 自分の吹き出し */
.right_bubble {
  position: relative;
  background-color: rgb(0, 210, 255);
  border: 1px solid #777;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  margin-left: 20%;
  clear: both; /*同じ行にメッセージを表示させない*/
  max-width: 500px;
  float: right;
  word-break: break-all;
  text-align: left;
  white-space: pre-wrap;
}

.right_bubble:before,
.right_bubble:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.right_bubble:after {
  border-left-color: rgb(0,210,255);
  border-width: 7px;
  margin-top: -7px;
}

.right_bubble:before {
  border-left-color: #777;
  border-width: 8px;
  margin-top: -8px;
}

/*******************************
* 割り込みを解除
********************************/
.clear_bubble {
  clear: both;
}

.action {
  position: relative;
  height: 20%;
  margin-top: 15px;
}

.forma_area {
  display: flex;
  justify-content: center;
  position: relative;
}

.action textarea {
  position: relative;
  width: 250px;
  max-height: 20px;
  border: 2px solid #aaa;
  border-radius: 3px;
  resize: none;
  font-size: 20px;
}

.action .submit {
  position: relative;
  border-radius: 5px;
  padding: 5px;
}
